{% extends 'layout.html' %}

{% block body %}

<h1>Artigos</h1>
<br>
<h3>Acesse o artigo desejado:</h3>

    <ul class="list-group">
        {% for i in data %}
        <li class="list-group-item"><a href="/artigo/{{i.id}}">{{i.titulo}}</a></li>
        <a class="btn btn-sm btn-default" href="/artigo/{{i.id}}/remove" role="button">
            <span class="glyphicon glyphicon-remove"></span> Excluir
        </a>
        <a class="btn btn-sm btn-default" href="/artigos?update={{i.id}}" role="button">
            <span class="glyphicon glyphicon-pencil"></span> Atualizar
        </a>

        <!-- <a class="btn btn-sm btn-default" href="/artigo/{{i.id}}/update" role="button">Atualizar</a> -->
        {% endfor %}
    </ul>


    <form action="/artigos" method="post">
        <div class="input-group input-group-md">
            {% if update %}
            {% for i in update %}
                <input name="id" type="hidden" class="form-control" placeholder="Título" value="{{i.id}}">
                <input name="titulo" type="text" class="form-control" placeholder="Título" value="{{i.titulo}}" required>
                <input name="texto" type="text" class="form-control" placeholder="Texto" value="{{i.texto}}" required>
            {% endfor %}
            {% else %}
                <input name="id" type="hidden" class="form-control">
                <input name="titulo" type="text" class="form-control" placeholder="Título" required>
                <input name="texto" type="text" class="form-control" placeholder="Texto" required>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-disk"></span> Gravar
        </button>
    </form>
    

{% endblock %}