{% extends 'layout.html' %}


{% block body %}


    {% for i in data %}
    
    
    <div class="page-header">
      <h1>{{i.titulo}}<br><small> tags: </small></h1>
    </div>
    <h4>{{i.data_criacao}}, por Autor</h4>  <!--Colocar aqui o usuario que criou o artigo-->
    <p>{{i.texto}}</p>

    {% endfor %}


    
    <a class="btn btn-default" href="/artigos" role="button">Voltar</a>
    
    <!-- <a class="btn btn-large btn-block btn-default" href="/artigos" role="button">Voltar</a> -->
    
{% endblock %}