{% extends 'layout.html' %}

{% block body %}

    <ul class="list-group">
        {% for a in artigos %}
        <li class="list-group-item"><a href="/artigo/{{a.id}}">{{a.titulo}}</a></li>
        {% endfor %}
    </ul>


    <form action="/artigos" method="post">
        <div class="input-group input-group-lg">
            <input name="titulo" type="text" class="form-control" placeholder="Título" required>
            <input name="corpo" type="text" class="form-control" placeholder="Corpo" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}