{% extends 'layout.html' %}

{% block body %}

    <div class="col-sm-8 blog-main">

        <div class="blog-post">
            {% for i in data %}

            <h4>Artigo: {{i.id}}</h4>
            <h2 class="blog-post-title">{{i.titulo}}</h2>
            <p class="blog-post-meta">Data, por Autor</p>
            <p>{{i.texto}}</p>

            {% endfor %}
        </div>

    </div>


    
    <a class="btn btn-default" href="/artigos" role="button">Voltar</a>
    
    <!-- <a class="btn btn-large btn-block btn-default" href="/artigos" role="button">Voltar</a> -->
    

{% endblock %}