{% extends 'layout.html' %}

{% block body %}

    {% if error %}

    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Erro:</strong>
        {{error}}
    </div>

    {% endif %}
    

    <form action="/login" method="post" class="form-inline" role="form">
        <legend>Faça o login para ter acesso:</legend>
        <div class="form-group">
            <input name="usr" type="text" class="form-control" placeholder="Usuário" required>
            <input name="pwd" type="password" class="form-control" placeholder="Senha" required>
        </div>
        <button type="submit" class="btn btn-primary">Acessar</button>
    </form>

{% endblock %}